* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --gradient: linear-gradient(
        45deg,
        #a857ff,
        #7e5aff,
        #5c67ff,
        #7780ff,
        #9b80ff,
        #bb7bff
    );
}
body {
    background-image: var(--gradient);
    background-size: 300%;
    height: 100vh;
    animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 50px;
    transition: all .50s ease;
}
a {
    text-decoration: none;
    padding: 7px;
    font-weight: 100;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.logo .first {
    color: white;
}
.logo .last {
    color: #e5b8ff;
}

.navbar {
    display: flex;
    padding-right: 170px;
}
.navbar a {
    color: white;
    font-size: 25px;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover {
    color: #dfcdff;

}

.main {
    display: flex;
    align-items: center;
    color: white;
}
 

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    transition: all .50s ease;
}

.main a:hover {
    color: #e9dcff;
}

#menu-icon {
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    color: white;
}


img {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 500px;
    left: 700px;
    animation: fadein 0.5s;
}

img:hover {
    z-index: 1;
    box-shadow: 10px 10px 5px rgba(19, 19, 46, 0.281);

}

.about-me {
   display: flex;
   flex-direction: column;
   padding-top: 340px;

}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Perpetua';
    font-size: 55px;
    padding-left: 200px;
    margin: 0;
    z-index: 10001;
    backdrop-filter: radial-gradient(
        circle at 50% 50%,
        transparent 150px,
        rgba(0, 0, 0, 0.9) 160px);
    max-width: fit-content;
}

h2 {
    color: #b8c3ff;
    font-family: 'Arial';
    font-weight: 100;
    padding-left: 200px;
    margin: 0;
    font-size: 25px;
    z-index: 1000;
    max-width: fit-content;
    backdrop-filter: radial-gradient(
        circle at 50% 50%,
        transparent 150px,
        rgba(0, 0, 0, 0.9) 160px);
}
p {
    color: rgb(215, 206, 244);
    padding-left: 200px;
    max-width: 700px;
    font-size: 20px;
    font-family: Arial Narrow;
    z-index: 1000;
    margin-bottom: 400;
    backdrop-filter: radial-gradient(
        circle at 50% 50%,
        transparent 150px,
        rgba(0, 0, 0, 0.9) 160px);
    
}




@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar {
        padding-right: 0px;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 16vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    
    .navbar a:hover {
        color: #e9dcff;
        transform: translateY(5px);
    }
    .navbar.open {
        right: 2%;
        z-index: 1000;
    }
}


/*  */



@keyframes fadein {
    0% { opacity: 0;}
    100% { opacity: 1;}
}