* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: white;
    --secondary-color: black;
    --primary-logo-last: rgb(192, 192, 255);
    --secondary-logo-last: #2d004b;


    --light-gradient: linear-gradient(
        45deg,
        #ff6868,
        #ff9c5a,
        #ffda62,
        #ceff5a,
        #7dff55,
        #60ff9d
    );
    --dark-gradient: linear-gradient(
        45deg,
        #3d0101,
        #4d1f00,
        #413100,
        #263800,
        #0b3300,
        #003012
    );
}



body {
    background-image: var(--light-gradient);
    background-size: 9000%;
    height: 100vh;
    animation: bg-animation 25s infinite alternate;
    font-size: 1.3rem;
    overflow-x: hidden;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

h1 {
    margin: 10px;
}

a {
    text-decoration: none;
    padding: 7px;
    font-weight: 100;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

.main-header {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}



.card img {
    height: 400px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.842);
}

.btn {
    display: inline-block;
    background: black;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
    padding: 10px 20px;
}
.btn:hover {
    opacity: 0.8;
}

.card > div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

.card h3 {
    margin-bottom: 2rem;
    
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 50px;
    transition: all .50s ease;
}

.main-header h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2r;
}



/* name logo */



.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.logo .first {
    color: var(--primary-color);
}
.logo .last {
    color: var(--primary-logo-last);
}


/*  */



.navbar {
    display: flex;
    padding-right: 170px;
}
.navbar a {
    color: var(--primary-color);
    font-size: 25px;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover {
    color: #e9dcff;

}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 100;
    transition: all .50s ease;
}

#menu-icon {
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    color: var(--primary-color);
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar {
        padding-right: 0px;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 16vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    
    .navbar a:hover {
        color: #e9dcff;
        transform: translateY(5px);
    }
    .navbar.open {
        right: 2%;
    }
}

@media (max-wdith: 800px) {
    .navbar .links {
        display: none;
    } 
    .navbar .dropdown-button {
        display: block;
    }
    .dropdown-menu {
        display: block;
    }
    .card {
        display: block;
    }
}
